
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пост №1</title>

    <link href="/static/content/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/content/css/default.css" rel="stylesheet"/>

    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/default.js"></script>


    <script>
    $( document ).ready(function() {
        $("div[class*='row'] div[class*='col-xs-3'] div[class*='menu-element'], div[class*='row'] div[class*='col-xs-4'] div[class*='menu-element']").click(function (e) {
            var TabList = $(this).data('tabList');
            var tabContent = $(this).data('tabContent');
            var url = $(this).data('url');
            var offset = $(this).data('offset');
            var limit = $(this).data('limit');

            $(TabList+" div div[class*='menu-element active']").removeClass("active");
            $(this).addClass("active");


            var list = $.get( "/" + url + "/?offset=" + offset + "&limit=" + limit);


            list.done(function( data ) {
                $(tabContent).empty().append( data );
            });
            list.fail(function(  ) {
                 $(tabContent).empty();
            });
        })
    });

    $(document).delegate("p[class*='text-center'] a", 'click', function (e) {
        var tabContent = $(this).data('tabContent');
        var linkMore = $(this).data('linkMore');
        var url = $(this).data('url');
        var offset = $(this).data('offset');
        var limit = $(this).data('limit');

        var list = $.get( "/" + url + "/?offset=" + offset + "&limit=" + limit);

        list.done(function( data ) {
        $(tabContent).append( data );
            $(linkMore).remove();
        });
        list.fail(function(  ) {
            $(tabContent).empty();
        });
    })

    $(document).delegate("div[class*='submenu'] a", 'click', function (e) {
        var tableId = $(this).data('tableId');
        $(".table-schedule").hide();
        $(tableId).show();

    })
    </script>

</head>
<body>
<div class="main-container">
    <nav class="navbar navbar-default navbar-fixed-top navbar-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <div id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a
                                    href="#block-events">события</a></li>
                            <li><a href="#block-guard">караул</a></li>
                            <li><a href="#block-about">о проекте</a></li>
                            <li><a href="#block-link">ресурсы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <img class="static-logo" src="/static/content/img/site-01_02.png"
             style="top: 0; left: 50px;"/>
        <img class="static-logo" src="/static/content/img/site-01_03.png"
             style="top: 15px; right: 50px;"/>
    </nav>

    {% block slider %}
        {% include 'slider.html' %}
    {% endblock %}

    <div id="block-events" class="content-block">
        <nav class="navbar-menu">
            <div class="container">
                <div class="row" id="firstTablist">
                    <div class="col-xs-3">
                        <div data-tab-list="#firstTablist" data-tab-content="#firstTabContent" data-url="news" data-offset="0" data-limit="1" class="menu-element active">
                            <div class="arrow"></div>
                            <img class="menu-element-icon"
                                 src="/static/content/img/site-01_15.png"/>
                            новости
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div data-tab-list="#firstTablist" data-tab-content="#firstTabContent" data-url="gallery" data-offset="0" data-limit="10" class="menu-element">
                            <div class="arrow"></div>
                            <img class="menu-element-icon"
                                 src="/static/content/img/site-01_09.png"/>
                            галерея
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div data-tab-list="#firstTablist" data-tab-content="#firstTabContent" data-url="translation" data-offset="0" data-limit="1" class="menu-element">
                            <div class="arrow"></div>
                            <img class="menu-element-icon"
                                 src="/static/content/img/site-01_12.png"/>
                            трансляция
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div data-tab-list="#firstTablist" data-tab-content="#firstTabContent" data-url="reviews" data-offset="0" data-limit="3" class="menu-element">
                            <div class="arrow"></div>
                            <img class="menu-element-icon"
                                 src="/static/content/img/site-01_06.png"/>
                            отзывы
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        {% block firstTabContent %}
            <div class="content-block-inner">
                <div class="container" id="firstTabContent">
                    {% include 'news.html' with object_list=news object_list_offset=news_offset data_url=news_url default_list_limit=news_list_limit more_button_id=news_more_button_id more_button_label=news_more_button_label tab_id=news_tab_id%}
                </div>
            </div>
        {% endblock %}

        <div id="block-guard" class="content-block">
            <nav class="navbar-menu">
                <div class="container">
                    <div class="row" id="secondTablist">
                        <div class="col-xs-3">
                            <div data-tab-list="#secondTablist" data-tab-content="#secondTabContent" data-url="schedule" class="menu-element active">
                                <div class="arrow"></div>
                                <img class="menu-element-icon"
                                     src="/static/content/img/site-01_25.png"/>
                                расписание
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div data-tab-list="#secondTablist" data-tab-content="#secondTabContent" data-url="guard" class="menu-element">
                                <div class="arrow"></div>
                                <img class="menu-element-icon"
                                     src="/static/content/img/site-01_28.png"/>
                                список караула
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div data-tab-list="#secondTablist" data-tab-content="#secondTabContent" data-url="search" class="menu-element">
                                <div class="arrow"></div>
                                <img class="menu-element-icon"
                                     src="/static/content/img/site-01_31.png"/>
                                поиск
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="widget-weather">
                                <div class="date">Понедельник, 13 февраля</div>
                                <div class="weather"><img
                                        src="/static/content/img/site-01_34.png"/>
                                    10° С, 4 м/с
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="content-block-inner">
                <div class="container" id="secondTabContent">
                    {% block secondTabContent %}
                        {% include 'schedule.html' %}
                    {% endblock %}
                </div>
            </div>

        </div>

        <div id="block-about" class="content-block">
            <nav class="navbar-menu">
                <div class="container">
                    <div class="row" id="thirdTablist">
                        <div class="col-xs-4">
                            <div data-tab-list="#thirdTablist" data-tab-content="#thirdTabContent" data-url="about" data-offset="0" data-limit="1" class="menu-element active" class="menu-element active">
                                <div class="arrow"></div>
                                <img class="menu-element-icon"
                                     src="/static/content/img/site-01_43.png"/>
                                о проекте
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div data-tab-list="#thirdTablist" data-tab-content="#thirdTabContent" data-url="document" data-offset="0" data-limit="1" class="menu-element">
                                <div class="arrow"></div>
                                <img class="menu-element-icon"
                                     src="/static/content/img/site-01_41.png"/>
                                документы
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div data-tab-list="#thirdTablist" data-tab-content="#thirdTabContent" data-url="contacts" data-offset="0" data-limit="1"  class="menu-element">
                                <div class="arrow"></div>
                                <img class="menu-element-icon"
                                     src="/static/content/img/site-01_46.png"/>
                                контакты
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            {% block thirdTabContent %}
            <div class="content-block-inner">
                <div class="container" id="thirdTabContent">
                    {% include 'about.html' %}
                </div>
            </div>
            {% endblock %}


        </div>

        <div id="block-link" class="content-block">
            <nav class="navbar-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="menu-element active">
                                <div class="arrow"></div>
                                ресурсы
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            {% block fourthTabContent %}
            <div class="content-block-inner">
                <div class="container" id="fourthTabContent">
                    {% include 'resource.html' with object_list=resources object_list_offset=resources_offset data_url=resources_url default_list_limit=resources_list_limit more_button_id=resources_more_button_id more_button_label=resources_more_button_label tab_id=resources_tab_id%}
                </div>
            </div>
            {% endblock %}



        </div>

        <footer class="footer text-center"><span>© 2015 Пост №1</span></footer>

    </div>
</body>
</html>
