{% extends 'pagination.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block list_item %}
    <h3>{{ cur_object.title }}<br/>
        <small>{{ cur_object.pub_date }}</small>
    </h3>
    <p>{{ cur_object.content }}</p>
    <div class="content-block-images">
        <div class="row">
            {% for photo in cur_object.newsphotos_set.all %}
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        {% thumbnail photo.image "200x200" crop="center" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}