{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Главная страница{% endblock %}


{% block content %}

       <div class="row">
        {% for banner, sales in banners.items %}
            <div class="col-lg-6">
                <a href="/sale/{% for sale in sales %}{{sale.pk }}{% endfor %}"><img width="485" src="{% static "" %}{{ banner.img.url }}" > </a>
            </div>
        {% endfor %}
       </div>

      <!-- Example row of columns -->
      <div class="row" style="margin-top: 30px;">
        <div class="main-accordIMG" ><img src="{% static "img/build.jpg" %}" width="170" height="315" alt="..."></div>
        <div class="main-accord" >

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              {% for sub_cat in building_sub_cat_list %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ sub_cat.url_name }}">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ sub_cat.url_name }}" aria-expanded="false" aria-controls="collapse{{ sub_cat.url_name }}">
                      {{ sub_cat.name }}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{ sub_cat.url_name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ sub_cat.url_name }}">
                  <div class="panel-body">
                        <p>{{ sub_cat.description }}</p>
                        <p><a href="/{{ sub_cat.parent.url_name }}/{{ sub_cat.url_name }}/" >Подробнее...</a></p>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>



       </div>

       <div class="main-accord" >
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              {% for sub_cat in furnish_sub_cat_list %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ sub_cat.url_name }}">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ sub_cat.url_name }}" aria-expanded="false" aria-controls="collapse{{ sub_cat.url_name }}">
                      {{ sub_cat.name }}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{ sub_cat.url_name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ sub_cat.url_name }}">
                  <div style="padding: 10px;">
                        <p>{{ sub_cat.description }}</p>
                        <p><a href="/{{ sub_cat.parent.url_name }}/{{ sub_cat.url_name }}/" >Подробнее...</a></p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

        </div>
        <div class="main-accordIMG" ><img  width="170" height="310" src="{% static "img/otdelka.jpg" %}" alt="..."></div>


      </div>


        <div class="row">
                        <a href="/news/" class="btn btn-red btn-lg btnmrgnlft">Новости</a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="/manufacture/" class="btn btn-red btn-lg">Производства</a>
       </div>



        <div class="row" style="margin-top: 60px;">
            <h2  class="text-center">Наши партнеры</h2>
            <hr>
            <ul id="flexise">
                {% for partner in partners %}
                    <li><img src="{% static "" %}{{ partner.img.url }}"></li>
                {% endfor %}
            </ul>
        </div>



{% endblock %}




{% block js_scripts %}
 <script type="text/javascript" src="{% static "js/jquery.flexisel.js" %}"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $("#flexise").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 5000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint:480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint:640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint:768,
                    visibleItems: 3
                }
            }
        });

    });
    </script>
{% endblock %}